 .blog1 {
    background-color: white;
    padding: 20px;
    width: 60%;
    margin: auto;
 }
 .text1

 }
    color: hotpink;
 }
 .text
 {
    font-family: comic sans MS;
    color: navajowhite;
 }
 .blog
 {
    background-color: whitesmoke;
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 20px;
 }